<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnoY</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/history.css">
    

</head>
<body>
    <div class="containerz">
      <div class="navz">
            <div class="icon">
               <a href="/"><img src="/static/images/TechnoY.png"></a>
            </div>
            <div class="sectionz">
                <div class="boxz">
                    <ul>
                       <li><a href="#">Courses <span>></span></a></li>
                    </ul>
                    <div class="card">
                        <ul>
                            <li>
                                <a href="/sw">Solid Works</a> <img src="/static/images/SolidWorks.png">
                                <p>Learn how to design mechanical/machine parts</p>
                            </li>
                            <li>
                                <a href="/cpp">C++</a> <img src="/static/images/C++.png">
                                <p>Discover the best language for operating electronic components</p>
                            </li>
                            <li>
                                <a href="/python">Python</a> <img src="/static/images/Python.png">
                                <p>Discover the highest-level language programming world can offer you</p>
                            </li>
                            <li>
                                <a href="/web">Web Development</a> <img src="/static/images/Web.png">
                                <p>Create Astonishing Websites using front-end and back-end</p>
                            </li>
                            <li>
                                <a href="/ai">Artificial Intelligence</a> <img src="/static/images/AI.png">
                                <p>Rule the world and Create your own AI using Machine Learning </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul>
                        {% if logged %}
                    <li>Hello,{{name}}</li>
                    <li><a href="/logout" >Log out</a></li>

                    {% else %}
                      <li id="reg"><a href="/signin">Sign in</a></li>
                      <li id="reg1"><a href="/signup" id="reg11">Register</a></li>


                    {% endif %}

                </ul>
            </div>
        </div>








    <h1 style="width:100%; height:7.5%; font-size:20px; color:#052C92; border:1px solid rgb(19, 109, 226);  margin:auto; background-color: #CFE2FF;  margin-top:2%; text-align:center; display:none; "id="refund">Refunded</h1>



        <table>
            <tr>
                <th>Name</th>
                <th>Course</th>
                <th>Price</th>
                <th>Date of Enrollment</th>



            </tr>

            {% for i in rows %}
            <tr>
                <th>
                    {{name}}
                </th>
                <th>
                    {{i.course_name}}
                </th>
                <th>
                    {{i.course_price}}$

                </th>
                <th>
                    {{i.enrollment_date}}
                </th>

            </tr>
            {% endfor %}
        </table>




      
       <div class="container mt-5" style="display:flex;" >
    <form action="/history" method="POST" class="w-50 mx-auto p-4 bg-light border rounded shadow" id="activate">
        <div class="mb-3">
            <label for="courses" class="form-label">Select Course</label>
            <select name="courses" class="form-select" id="courses" required>

                {% for i in rows %}
                    <option value="{{ i.course_name }}">{{ i.course_name }}</option>
                {% endfor %}
            </select>
        </div>
        {% if disabled %}
          <button type="submit" disabled class="btn btn-danger w-100" >Refund</button>
        {% else %}
        <button type="submit" class="btn btn-danger w-100" >Refund</button>
        {% endif %}
    </form>
    <h1>Cash: {{cash.cash | round}}$</h1>
</div>


        </div>
        <script>
            var x=document.getElementById("activate");
            var message=document.getElementById("refund");

            if(localStorage.getItem("refund")=="True"){
                message.style.display="flex";
                message.style.justifyContent="center";
                message.style.alignItems="center";
                localStorage.removeItem("refund");
            }
            x.addEventListener("submit",function(){
                localStorage.setItem("refund","True")


            });



        </script>


        </body>
        </html>
        