<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='Sign UP.css') }}">
</head>
<body>

    <div class="containerz">

        <div class="navz">
            <div class="icon">
                <a href="/"> 
                    <img src="{{ url_for('static', filename='images/TechnoY.png') }}">
                </a>
            </div>
            <div class="sectionz">
                <div class="boxz">
                    <ul>
                        <li><a href="#">Courses <span>></span></a></li>
                    </ul>
                    <div class="card">
                        <ul>
                            <li>
                                <a href="/sw">Solid Works</a> 
                                <img src="{{ url_for('static', filename='images/SolidWorks.png') }}">
                                <p>Learn how to design mechanical/machine parts</p>
                            </li>
                            <li>
                                <a href="/cpp">C++</a>          
                                <img src="{{ url_for('static', filename='images/C++.png') }}">
                                <p>Discover the best language for operating electronic components</p>
                            </li>
                            <li>
                                <a href="/python">Python</a>      
                                <img src="{{ url_for('static', filename='images/Python.png') }}">
                                <p>Discover the highest-level language programming world can offer you</p>
                            </li>
                            <li>
                                <a href="/wb">Web Development</a>      
                                <img src="{{ url_for('static', filename='images/Web.png') }}">
                                <p>Create Astonishing Websites using front-end and back-end</p>
                            </li>
                            <li>
                                <a href="/ai">Artificial Intelligence</a> 
                                <img src="{{ url_for('static', filename='images/AI.png') }}">
                                <p>Rule the world and Create your own AI using Machine Learning</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul>
                    <li><a href="/signin">Sign in</a></li>
                    <li><a href="/signup">Register</a></li>
                </ul>
            </div>
        </div>

        <div class="Page">
            <h1>Register</h1>
            <h2 id="fail"></h2>
            <form method="post" action="/signup" id="Form">
                <div class="mb-3">
                    <label for="Email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" name="Email" required>
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="Password" name="Password" required>
                </div>
                <div class="mb-3">
                    <label for="CPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="CPassword" name="CPassword" required>
                </div>
                <button type="submit" class="btn btn-primary" style="width:200px; position:relative; left:13%;">Register</button>
                <p>Already have an account? <a href="/signin">Log in</a></p>
            </form>
        </div>
    </div>
    <script>
        var x = document.getElementById("Form");


    
    var error="{{ error | default('', true) }}"
    var p=document.getElementById("fail")
  
    if (error) {
        x.style.marginTop = "15%";
        p.innerHTML = error;
       
    }

  
    </script>
</body>
</html>